<a href='/posts'>HOME</a><br><br>
<h1>User Comments:</h1>
<% @comments.each do |comment| %>
<h1><a href='/comments/<%= comment.id %>'>Show this Comment</a></h1>
<h2>USER ID: <%= @users.find(comment.user_id).email %></h2>
<h2>POST ID: <a href='/posts/<%= comment.post_id %>'><%= comment.post_id %></a></h2>
<h3>Comment: <%= comment.content %></h3><br>
<% end %>
