<h1>Posts:</h1>


<% @posts.each do |post| %>
<h2>Title: <a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
Posted by: <%= @user.find(post.user_id).email %><br>
Image: <img src='<%= post.image %>'><br>
Link: <a href='<%= post.link %>'><%= post.link %></a><br><br>

<% end %>
