<h1 id='postIndexHeader'>Posts:</h1>

<div id='allPosts'>
<% @posts.each do |post| %>
<div id='post'>
  <br>
  <div id='postInfo'>
    Posted by: <%= @user.find(post.user_id).email %><br>
    <a href='<%= post.link %>'>Source</a>
  </div>
  <div id='postPlate'>
    <a href='/posts/<%= post.id %>'><%= post.title %></a>
    <br>
    <a href='/posts/<%= post.id %>'><img src='<%= post.image %>'></a>
  </div>

  <br>
</div>
<% end %>
</div>
