<h2>Posted by: <%= @users.find(@post.user_id).email %></h2>
<h2>Title: <%= @post.title %> <br></h2>
<h2>Image: <img src='<%= @post.image %>'> <br></h2>
<h2><a href='<%= @post.link %>'>Source Link</a></h2>



<a href='/posts/<%= @post.id %>/new'>Comment on this post</a>
<br><br>


<h1>Comments:</h1>
<% @comments.each do |comment| %>
<h4>USER ID: <%= @users.find(comment.user_id).email %></h4>
<h2>Comment: <%= comment.content %></h2><br>
<% end %>
