<br>
<div id='showPost'>
<ul id='postshow'>
  <li>Title: <%= @post.title %></li><br>
  <li>Posted by: <%= @users.find(@post.user_id).email %></li><br>
  <li><a href='<%= @post.link %>'>Source Link</a></li>
</ul>
<h2><img src='<%= @post.image %>'> <br></h2>
<h3><a href='/posts/<%= @post.id %>/new'>Comment on this post (must be logged in)</a></h3>

</div>
<h1 id='commentHeader'>Comments:</h1>
<div id='allComments'>
<% @comments.each do |comment| %>
<div id='comments'>
<div id='namePlate'><%= @users.find(comment.user_id).email %>:</div><div id='commentContent'>"<%= comment.content %>"</div>
</div>
<% end %>
</div>
